#about {
	padding: 70px 70px 0 70px;
	background-color: $secundary-color;
	text-align: center;
	
	.intro {
		p {
			font-size: 1.2222em;
		}
	}	

	.timeline {
		@include make-md-column(12);	
	  
	  position: relative;
	  margin: 2em auto;
	 
	  &:after {//vertical line	  
		  content: '';
		  display: block;
		  position: absolute;
		  left: 50%;
		  top: 0;
		  margin: 0 0 0 -1px;
		  width: 2px;
		  height: 100%;
		  background-color: #d7e4ed;
		}
	}

	.timeline-block {
	  position: relative;
		width: 100%;
	  margin: 0 0 40px;	  
		z-index: 8;

	  &:after {
			content: '';
		  display: block;
		  clear: both;
	  }
	}

	.timeline-block-year {
		@extend .timeline-block;

		padding-bottom: 70px;
	}

	.timeline-block-year:last-child {
		padding-bottom: 0;
	}

	.timeline-icon {
		@include center-middle();
		@include circle();

		position: absolute;
		width: 50px;
		height: 50px;
		margin: 10px 0 0 -25px;
		top: 0;
  	left: 50%;
		background-color: $main-color;
		color: $secundary-color;
		box-shadow: 0 0 0 7px $secundary-color;
	}

	.timeline-year {
		@extend .timeline-icon;

		width: 70px;
		height: 70px;
		margin: 0 0 20px -35px;
		background-color: $detail-color;
	}

	.timeline-content {
		position: relative;
		width: 40%;
	  float: left;
	  margin: 5px 0 0 0;
	  padding: 20px;
		border: 1px solid rgba(0,0,0,.09);
	  border-radius: 5px;
	  box-shadow: 0 1px 4px rgba(0,0,0,.1);
		
		&:after {
			@include bubble-after();
			
			right: -15px;
			border-width: 11px 0 11px 15px;
	  }

	  &:before
		{
			@include bubble-before();

			right: -18px;
			border-width: 12px 0 12px 16px;
		}

		&.pull-right:after {
			@include bubble-after();
			
			left: -15px;
			border-width: 11px 15px 11px 0;
		}

		&.pull-right:before {
			@include bubble-before();
			
			left: -18px;
			border-width: 12px 16px 12px 0;
		}

	  h3 {
			margin-top: 0;
	  }

	  p {
	  	text-align: justify;
	  }
	}
}

@media screen and (max-width: $resolution-md) {
	#about {
		padding-left: 20px; 
		padding-right: 20px;

		.timeline {
			@include make-sm-column(12);
		}
	}
}

@media screen and (min-width: $resolution-xs) and (max-width: $resolution-sm) {
	#about {		
		.timeline {
			@include make-xs-column(12);	

		  &:after {//vertical line	  
			  left: 30px;
			}
		}

		.timeline-icon,
		.timeline-year {
			left: 0;
		}

		.timeline-icon {
			margin-left: -10px;
		}

		.timeline-year {
			margin-left: -20px;
		}

		.timeline-content {
			float: right;
			width: 70%;

			&:after {
				left: -15px;
				border-width: 11px 15px 11px 0;
		  }

		  &:before {
				left: -18px;
				border-width: 12px 16px 12px 0;
			}
		}
	}
}