body {
	background-color: $background-color;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

html,
body,
.container-fluid {
	padding: 0;
	height: 100%;
}

.with-margin {
	margin-right: 70px;
	margin-left: 70px;
}