body {
	background-color: $main-color;
	background: linear-gradient(to bottom, $main-color 49%, $gradient-color 100%); 
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	position: relative;
}

html,
body,
.with-margin {
	height: 100%;
}

//edge
@supports (-ms-ime-align:auto){
  header {
  	position: static !important;
  }
  .navbar {
  	background-color: $main-color;
  }
}

html,
body,
.container-fluid {
	padding: 0;

	.row {
		margin: 0;
	}

	h2 {
		font-size: 2.2222em;
	}

	hr {
		margin-bottom: 2.2222em;
		width: 50%;
	}
}

.fixed {
	position: fixed;
}

.with-margin {
	margin-right: 70px;
	margin-left: 70px;
}

.active {
	border-bottom: 5px solid $detail-color;
}

//navbar
.added-color {
	background-color: $main-color;
	z-index: 10;
}

textarea { 
	resize: none; 
}