.navbar {
	height: 70px;
	transition: all .3s linear;

	.navbar-header {
		.navbar-toggle {
			border-color: $secundary-color;
			border-width: 2px;
		}
		.icon-bar {
			background-color: $secundary-color;
		}
	}
	#myNavbar {
		.navbar-nav {
			li {
				border-bottom: 5px solid transparent;
				transition: all .3s ease-in-out;

				a {
					color: $secundary-color;
					font-size: 1.2222em;
					padding-top: 30px;
					padding-top: 30px;

					&:hover {
						background-color: $main-color;
					}

					&:focus {
						background-color: transparent;
					}
				}
			
				&.active {//problens with the transition
					@extend .active;
				}

				&:hover {
					@extend .active;
				}
			}
		}
	}
}

header {
	@include make-md-column(12);

	top: 50%;
  transform: translateY(-50%);//center
	z-index: -1;
	
	.text-header {
		@include make-md-column(7);
		
		color: $secundary-color;
		text-align: center;

		h2 {
			margin-bottom: 0;
			font-size: 3em;
		}

		p {
			margin: 10px 0;
			font-size: 1.5em;
		}
	}

	//avatar and eyes
	.avatar-space {
		@include make-md-column(5);

		position: relative;
	}

	.avatar {

		@include circle();

		height: 270px;
		width: 270px;
		border: 5px solid $secundary-color;
		background: url("../img/avatar.png");
		background-repeat: no-repeat;
		background-position: center center;
	}

	#left-eye,
	#right-eye{
    @include circle();
    
    display: block;
    position: absolute;
    width: 25px; 
    height: 15px;
    top: 115px;
	}

	#left-eye{
		left: 110px;
	}

	#right-eye{
		left: 158px;
	}

	#left-pupil,
	#right-pupil{
		width: 10px; 
		height: 7px;
		background: #3b434f;
		border-radius: 40%;
		display: block;
		position: absolute;
	}
	//end avatar and eyes
}

.balloon-wrap {
	position: absolute;
	bottom: -130px;
	z-index: -2;
}

.balloon-wrap-animation {	
	animation: up 50s linear infinite;
}

.balloon {
	background-image: url('../img/balloon.png');
	background-repeat: no-repeat;
	height: 180px;
	width: 140px;	
}

.balloon-animation {
	animation: side 7s ease-in-out infinite alternate 0.5s;
}

.cloud {
	background-image: url('../img/cloud.png');
	background-repeat: repeat-x;
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0;
	z-index: 3;
}

@media screen and (max-width: $resolution-md) {
	
	header {
		@include make-sm-column(12);

		.text-header {
			@include make-sm-column(7);
		}
		.avatar-space {
			@include make-sm-column(5);
		}
	}
}

@media screen and (min-width: $resolution-xs) and (max-width: $resolution-sm) {
	.navbar {
		background-color: $main-color;
		
		#myNavbar {// - with-margin
			margin-left: -20px;
			margin-right: -20px;

			.navbar-nav {
				li {
					background-color: $main-color;
				}
			}
		}
	}

	header {
		@include make-xs-column(12);
		margin-left: -20px;

		.text-header {
			@include make-xs-column(12);
		}

		.avatar-space {
			display: none;
		}
	}

	.balloon-wrap {
		display: none;
	}
}